@charset "UTF-8";

@media screen and (min-width: $screen-md) {
  body {
    margin-top: 5.5rem;
  }
  .toolbar {
    padding: 0.5em;
  }
  .logo {
    float: left;
    width: 12%;
  }
  .chapter-body {
    float: left;
    width: 80%;
  }
}
