@charset "UTF-8";

.nav-bar {
    background: $theme-dark-blue;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 2rem;
    width: 100%;
}

.chapter-nav {
  float: left;
  margin-right: 1rem;
}

.setting-wrap {
  float: left;
  line-height: 30px;
}

.setting-btn {
  padding: 13px 17px;
  font-size: 16px;
}
