@charset "UTF-8";

// Top bar -- Logo, chapter select and font size control panel
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1em .625em 1em;
    background: $theme-dark-blue;

    a {
        font-size: 1em;
        color: $theme-white;
    }
}

.logo {
    font-size: 1.5em;
    padding: 10px 0;
    margin: 0 auto 6px;
    color: $theme-white;
}

.form-elem {
    height: 30px;
    margin-right: 0.625rem;
}

.book-selector {
    width: 45%;
    float: left;
}

.chapter-selector {
    width: 25%;
    float: left;
}

.read-on {
    margin-right: 0;
    width: 20%;
    background-color: $theme-red;
}

.font-size-control {
    float: right;
    display: none;

    .heading {
        font-size: 0.8125rem;
        color: $theme-white;
    }
}