@charset "UTF-8";

// Google fonts
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Font stack
$main-font: "Ubuntu", 微軟正黑體, sans-serif;
$sub-font: "Roboto", sans-serif;

// Colors, my favoriate part...
$theme-blue: #1142aa;
$theme-dark-blue: #1a283e;
$theme-red: #da213b;
$theme-bright-red: #f44;
$theme-white: #fff;
$theme-black: #000;

// Border radius
$radius-2px: 0.125rem;
$radius-4px: 0.25rem;

// transition speed
$fast: .3s;

// Break points
$screen-mx: 1200px;
$screen-lg: 980px;
$screen-md: 768px;
$screen-sm: 460px;
$screen-xs: 380px;
