@charset "UTF-8";

.btn {
    padding: 6px 10px;
    cursor: pointer;
    color: $theme-white;
    border: none;
    border-radius: $radius-2px;
    background: $theme-black;
    font-size: 13px;
    display: inline-block;
}

.btn-primary {
    font-size: 0.75rem;
    &:hover {
      color: $theme-white;
      background-color: $theme-blue;
    }
}

.btn-large {
  padding: 14px 1rem;
}
