@charset "UTF-8";

.setting-panel {
  color: $theme-white;
  position: fixed;
  left: 0;
  bottom: 0;
  background: lighten($theme-dark-blue, 10%);
  visibility: hidden;
  opacity: 0;
  transition: $fast all;
  width: 350px;
  border-top-right-radius: $radius-4px;
  &.show {
    visibility: visible;
    opacity: 1;
    bottom: 75px;
  }
  .range {
    padding: 30px 20px 18px;
  }
  .range-slide {
    display: inline-block;
    width: 80%;
    margin-right: 10px;
  }
  .range-size {
    display: inline-block;
  }
}


.setting-item {
  padding: 18px 20px;
  &:nth-child(odd) {
    background-color: lighten($theme-dark-blue, 15%);
  }
  .toggle-btn {
    display: inline-block;
    vertical-align: top;
  }
}

.setting-title {
  letter-spacing: .5px;
  font-size: 16px;
  margin-bottom: 10px;
  > i {
    margin-right: 8px;
    padding: 6px;
    border-radius: $radius-2px;
    background-color: $theme-dark-blue;
  }
}
.setting-desc {
  color: lighten($theme-dark-blue, 50%);
  margin-left: 8px;
  font-size: 14px;
}
