@charset "UTF-8";

.toggle {
  display: none;
}

.toggle,
.toggle:after,
.toggle:before,
.toggle *,
.toggle *:after,
.toggle *:before,
.toggle + .toggle-btn {
  box-sizing: border-box;
}

.toggle::-moz-selection,
.toggle:after::-moz-selection,
.toggle:before::-moz-selection,
.toggle *::-moz-selection,
.toggle *:after::-moz-selection,
.toggle *:before::-moz-selection,
.toggle + .toggle-btn::-moz-selection {
  background: none;
}

.toggle::selection,
.toggle:after::selection,
.toggle:before::selection,
.toggle *::selection,
.toggle *:after::selection,
.toggle *:before::selection,
.toggle + .toggle-btn::selection {
  background: none;
}

.toggle + .toggle-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle + .toggle-btn:after,
.toggle + .toggle-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.toggle + .toggle-btn:after {
  left: 0;
}

.toggle + .toggle-btn:before {
  display: none;
}

.toggle:checked + .toggle-btn:after {
  left: 50%;
}

.toggle-default + .toggle-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}

.toggle-default + .toggle-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.toggle-default + .toggle-btn:hover:after {
  will-change: padding;
}

.toggle-default + .toggle-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}

.toggle-default + .toggle-btn:active:after {
  padding-right: .8em;
}

.toggle-default:checked + .toggle-btn {
  background: #86d993;
}

.toggle-default:checked + .toggle-btn:active {
  box-shadow: none;
}

.toggle-default:checked + .toggle-btn:active:after {
  margin-left: -.8em;
}