@charset "UTF-8";

// Top bar -- Logo, chapter select and font size control panel
.has-cover {
  overflow: hidden;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1em 0.625em;
  background: $theme-dark-blue;
  a {
    font-size: 1em;
    color: $theme-white;
  }
}
.logo {
  font-size: 1.5em;
  padding: 10px 0 0;
  margin: 0 20px 0 0;
  color: $theme-white;
  text-align: center;
  font-family: $main-font;
}
.form-elem {
  height: 30px;
  margin-right: 0.625rem;
  margin-bottom: 8px;
  width: 100%;
  font-family: inherit;
}
.chapter-body {
  float: left;
  padding: 10px 0;
  width: 100%;
}
.read-on {
  margin-right: 0;
  background-color: $theme-red;
}

.cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $theme-black;
  color: $theme-white;
  .cover-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    font-size: 0.8125rem;
  }
}

html:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
