@charset "UTF-8";

// Top bar -- Logo, chapter select and font size control panel
.has-cover {
  overflow: hidden;
}

.toolbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 1em 10px;
  background: $theme-dark-blue;
  @media (min-width: $screen-md) {
    display: flex;
  }
  a {
    font-size: 1em;
    color: $theme-white;
  }
}
.logo {
  font-size: 1.5em;
  color: $theme-white;
  text-align: center;
  font-family: $main-font;
  @media (min-width: $screen-md) {
    padding: 5px 0 0;
    margin: 0 20px 0 0;
  }
}
.form-elem {
  height: 30px;
  margin-right: 0.625rem;
  margin-bottom: 8px;
  font-family: inherit;
  width: 100%;
  @media (min-width: $screen-md) {
    width: auto;
  }
}
.chapter-body {
  padding: 5px 0 0;
  display: block;
  @media (min-width: $screen-md) {
    display: flex;
    width: 100%;
  }
}
.book-selector,
.chapter-selector {
  flex: 1 0 auto;
}
.read-on {
  margin-right: 0;
  background-color: $theme-red;
  @media (min-width: $screen-md) {
    width: 200px;
  }
}

.cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $theme-black;
  color: $theme-white;
  .cover-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    font-size: 0.8125rem;
  }
}

html:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
