@charset "UTF-8";

.tooltip-parent {
  position: relative;

  &:hover {
    .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

.tooltip {
  position: absolute;
  color: $theme-white;
  background-color: $theme-black;
  border-radius: $radius-2px;
  padding: 10px 12px;
  font-size: 12px;
  opacity: 0;
  line-height: 1.6;
  visibility: hidden;
  -webkit-transition: $fast all ease 0;
  transition: $fast all ease 0;
  white-space: nowrap;
  &:before {
    border: 6px solid transparent;
    border-top-color: $theme-black;
    content: '';
    position: absolute;
  }
}

.tooltip-top {
  top: calc(-100% - 10px);
  &:before {
    top: 100%;
  }
}

.tooltip-left {
  left: 0;
  &:before {
    left: 0;
  }
}

.tooltip-right {
  right: 0;
  &:before {
    right: 0;
  }
}

.tooltip-bottom {
  top: calc(100% + 10px);
  &:before {
    border: 6px solid transparent;
    border-bottom-color: $theme-black;
    bottom: 100%;
  }
}
