@charset "UTF-8";

.theme--low-light {
  background-color: $theme-black;
  color: $theme-white;
  .chapter-title {
    color: $theme-white;
  }
  .content-container {
    color: $theme-white;
    a {
      color: $theme-white;
    }
  }
}
