@charset "UTF-8";

.reading-mode {
  margin: 0;
  .toolbar {
    top: -100%;
  }
  .nav-bar {
    bottom: -100%;
  }
  .reading-mode-controls {
    bottom: 50px;
  }
  .content-wrap {
    position: relative;
    height: 100%;
    padding: 1.5rem 1.5rem 16rem 1.5rem;
  }
}

.windows.reading-mode {
  overflow: hidden;
  height: 100%;
}

// reading-mode controls
.reading-mode-controls {
  visibility: visible;
  position: fixed;
  bottom: 0;
  right: 30px;
  height: 50px;
  width: 50px;
  font-size: 1rem;
  border-radius: 50%;
  transition: $fast bottom;
  background-color: rgba($theme-red, .5);
  z-index: 100;
  &:hover {
  transition: $fast bottom;
    background-color: rgba($theme-red, 1);
  }
}
