@charset "UTF-8";

// Genernal
body {
  font-size: 100%;
  margin: 5.5rem 1rem 6.5rem;
  padding: 0;
  font-family: $sub-font;
}
a {
  text-decoration: none;
  color: $theme-blue;
}
a:hover,
a:active,
a:focus {
  color: #4573d5;
}
ol {
  margin: 0.3125em 0 0.3125em 2em;
  li {
    font-size: 1em;
  }
}
select {
  padding: 5px 0.3125rem;
  border: none;
  border-radius: $radius-2px;
}
 ::selection {
  color: $theme-white;
  background: $theme-bright-red;
}
