@charset "UTF-8";

// General styles for HTML elements, no ID or class selectors here
// CSS Resets, Normalize also live here
*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 100%;
  margin: 5.5rem 1rem 6.5rem;
  padding: 0;
  font-family: $sub-font;
  transition: $fast margin;
}

a {
  text-decoration: none;
  color: $theme-blue;
  &:hover,
  &:active,
  &:focus {
    color: #4573d5;
  }
}

// Remove chrome outline style
a:focus,
input:focus,
select:focus,
button:focus {
    outline: none;
}

select {
  padding: 5px 0.3125rem;
  border: none;
  border-radius: $radius-2px;
}

 ::selection {
  color: $theme-white;
  background: $theme-bright-red;
}
