@charset "UTF-8";

.content-container {
  font-size: 24px;
}

.no-verse-number {
  ol {
    list-style: none;
    margin-left: 0;
    padding: 0;
  }
}

.chapter-title {
  font-size: 1.6rem;
  font-weight: normal;
  color: $theme-blue;
}

.verse-container {
  > ol {
    list-style-position: outside;
    margin: 0.3125em 0;
    padding: 0 0 0 4rem;
  }
}
