@charset "UTF-8";
.nav-bar {
  background: $theme-dark-blue;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem 2rem;
  width: 100%;
  transition: $fast bottom;
  z-index: 110;
  display: flex;
}
.chapter-nav {
  margin-right: 1rem;
}
.setting-wrap {
  float: left;
  line-height: 30px;
}
.setting-btn {
  padding: 13px 17px;
  font-size: 16px;
  margin-right: 0.5rem;
}

.setting-btn-is-disabled {

}

.setting-btn-is-active {
   background-color: $theme-blue;
}

// toggle light
.toggle-light-wrap {
  float: left;
}
.toggle-light {
  color: $theme-white;
  cursor: pointer;
  padding: 13px 17px;
  font-size: 16px;
}

// toggle reading mode
.toggle-reading-mode {
  color: $theme-white;
  cursor: pointer;
  padding: 13px 17px;
  font-size: 16px;
}
